<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextTutils</title>
</head>
<body>
   <h1>Welcome to the text analyzer</h1>
   <form action="analyze" method="get">
    <textarea name="text" cols="150" rows="20" style="margin: 0px; width: 1155px; height: 152px;"> </textarea><br>
    <input type="checkbox"name="removepunc">Remove Punction<br>
    <button type="submit">Analyze Text</button>
   </form>
   
</body>
</html>